/* 
    Document   : common.css
    Created on : 2014/03/06
    Author     : kawakami_t
    Description: 共通スタイル
*/

html body {
    font-family: MS PGothic, "MS Pゴシック", Osaka, sans-serif;
    background: url(../images/bg-pattern.png);
    min-width: 1224px;
    padding-top: 55px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: MS PGothic, "MS Pゴシック", Meiryo, "メイリオ", Osaka, sans-serif;
    color: #555;
}
h1 {
    font-size: 30px;
    line-height: 36px;
    margin: 0;
}
h2 {
    font-size: 24px;
    line-height: 36px;
}
body,
h1, h2, h3, h4, h5, h6,
input,
button,
select,
textarea,
.navbar-search .search-query,
.navbar .brand,
.navbar .nav>li>a,
div.subnav {
    font-family: MS PGothic, "MS Pゴシック", Helvetica, Arial, "Hiragino Kaku Gothic Pro", "HiraKakuPro-W3", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", Osaka, sans-serif;
}
label {
    cursor: default;
    margin-bottom: 3px;
}
.page-header {
    margin: 0;
}
.page-header .page-title {
    color: #a3a3a3;
    font-size: 1.2em;
    line-height: 1em;
    padding: 4px 15px;
}
.page-header .page-title [class^="icon-"],
.page-header .page-title [class*="icon-"] {
    margin-right: 3px;
    margin-top: 2px;
}
#loading{
    position:absolute;
    left:50%;
    top:20%;
    margin-left:-30px;
}