/* 
    Document   : ngramSearch.css
    Created on : 2014/03/06
    Author     : kawakami_t
    Description: 検索画面用
*/

div.condition {

}
div.detail {

}
#searchBtn {
    width:60px;
}
#searchResult .col1 {
    width:40px;
}
#searchResult thead tr {
    background-color:ivory;
}
#searchResult tbody tr {
    background-color:white;
}